<div id="x-desktop">
    <dl id="x-shortcuts">
      <%  if current_user %>
        <div id="current_user">
          <font size="5" color="white">欢迎<font color="red"><%= current_user.name%></font>登录<%= blank(3)%> 光头老连锁店管理系统</font>
          <a href="/logout"><font color="red">退出</font></a>
        </div>
      <% end %>
      <% if current_user.group_id == 1 %>
        <script type="text/javascript" charset="utf-8">
          Group = 1
        </script>
        <dt id="userSettingWin-shortcut">
            <a href="#"><img src="images/theme/<%= current_user.theme %>/register.png" /><div>基础设置</div></a>
        </dt>
        <dt id="manageWin-shortcut">
             <a href="#"><img src="images/theme/<%= current_user.theme %>/file_setting.png" /><div>库存查看</div></a>
         </dt>
        <dt id="userManageWin-shortcut">
             <a href="#"><img src="images/theme/<%= current_user.theme %>/user_manage.png" /><div>每日统计</div></a>
         </dt>
        <dt id="reportWin-shortcut">
             <a href="#"><img src="images/theme/<%= current_user.theme %>/report.png" /><div>报表统计</div></a>
         </dt>

      <%elsif current_user.group_id == 2%>
        <script type="text/javascript" charset="utf-8">
          Group = 2
        </script>
        <dt id="userRegisterWin-shortcut">
            <a href="#"><img src="images/theme/<%= current_user.theme %>/register.png" /><div>用户登记</div></a>
        </dt>
          <dt id="reportWin-shortcut">
             <a href="#"><img src="images/theme/<%= current_user.theme %>/report.png" /><div>报表统计</div></a>
         </dt>
        <dt id="userSettingWin-shortcut">
            <a href="#"><img src="images/theme/<%= current_user.theme %>/setting.png" /><div>基础设置</div></a>
        </dt>
        <dt id="manageWin-shortcut">
             <a href="#"><img src="images/theme/<%= current_user.theme %>/file_setting.png" /><div>库存查看</div></a>
         </dt>
        <dt id="userManageWin-shortcut">
             <a href="#"><img src="images/theme/<%= current_user.theme %>/user_manage.png" /><div>每日统计</div></a>
         </dt>
      <% else %>
        <script type="text/javascript" charset="utf-8">
          Group = 3
        </script>
        <dt id="userSettingWin-shortcut">
            <a href="#"><img src="images/theme/<%= current_user.theme %>/setting.png" /><div>基础设置</div></a>
        </dt>
      <% end %>  
    </dl>
</div>
<div id="ux-taskbar">
	<div id="ux-taskbar-start"></div>
	<div id="ux-taskbuttons-panel">
  </div>
	<div class="x-clear"></div>
</div>
