<div id="flash_error">
<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
</div>
<%= form_for :user, @user, :url =>{:action => "update_image" }, :html => {:multipart => true} do |f| %>
  身份证*：<%= f.text_field :identity_card %><br>
  出生年月：<%= f.date_select :birthday, :start_year => 1960,:end_year => 2000  %><br>
  性别: <%= f.select :sex, %w{ 男 女 } %> <br>
  用户图片选择： <%= f.file_field :image %>
  <% if @render %>
    <%= render :partial => @render %>
  <%elsif @action == "update_image" %>
    <%= image_tag @user.image.url(:normal) %>
  <% end %><br>
  地址：<%= f.text_area :address %><br>
  <%= f.submit :确定 %>
<% end %>
