<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<head>
  <title>图书馆用户管理系统</title>
  <link rel="shortcut icon" href="../images/head.png"></link>
</head>
<body>
<!DOCTYPE html>
  <!--主界面环境 -->
  <%= stylesheet_link_tag "css/ext-all.css" %>
  <%= stylesheet_link_tag "css/desktop.css" %>

  <script type="text/javascript" src="javascripts/js/ext-base.js"></script>
  <script type="text/javascript" src="javascripts/js/ext-all.js"></script>

  <%= javascript_include_tag '/javascripts/js/App.js' %>	
  <%= javascript_include_tag '/javascripts/js/TaskBar.js'%>
  <%= javascript_include_tag '/javascripts/js/StartMenu.js'%>
  <%= javascript_include_tag '/javascripts/js/Desktop.js'%>
  <%= javascript_include_tag '/javascripts/js/Module.js'%>
  <%= javascript_include_tag '/javascripts/js/ext-lang-zh_CN.js'%>


  <%= javascript_include_tag '/javascripts/manage/manage.js'%>
  <%= javascript_include_tag '/javascripts/manage/Page.js'%>
  <%= javascript_include_tag '/javascripts/manage/userRegister.js'%>
  <%= javascript_include_tag '/javascripts/manage/reportWin.js'%>
  <%= javascript_include_tag '/javascripts/manage/userPartWin.js'%>
  <%= javascript_include_tag '/javascripts/manage/userGroup.js'%>
  <%= javascript_include_tag '/javascripts/manage/userSettingWin.js'%>
  <%= javascript_include_tag '/javascripts/manage/manageWin.js'%>

  <%= javascript_include_tag '/javascripts/manage/clothPartShow.js'%>
  <%= javascript_include_tag '/javascripts/manage/orderGridLook.js'%>
  
</head>
  <!-- 可以不同的用户修改不同的背景图 -->
  <% desktop = "orange.jpg"%>
  <%if current_user.bg_picture.nil? %>
    <body scroll="no" style="background:#3d71b8 url(../images/wallpapers/<%= desktop %>) no-repeat left top ";>
  <%else%>
    <body scroll="no" style="background:#3d71b8 url(../images/wallpapers/<%= current_user.bg_picture%>.jpg) no-repeat left top ";>
  <%end%>
    <div><%= yield %></div>
</body>
</html>
